@{
    ViewData["Title"] = "Yêu cầu đặt lại mật khẩu đã được gửi";
}

<div class="alert alert-success mt-4">
    Nếu email tồn tại, chúng tôi đã gửi liên kết đặt lại mật khẩu.
</div>

<a asp-controller="Account" asp-action="Login" class="btn btn-link">Quay lại đăng nhập</a>


